.DS_Store
~$*
*.dmg
*.pkg
*.iso
*.ova
*.vmdk
*.qcow2
*.img
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
.ipynb_checkpoints/
__pycache__/
*.pyc

# Large installers / binaries
*.msi
*.exe
*.dmg
*.pkg
*.iso
*.ova
*.vmdk
*.qcow2
*.img
